singularity {
  enabled = true
  autoMounts = true
}

process {
  container = 'ndatth/deepsea:v0.0.0'
  executor = 'slurm'
  queue = 'orion'
  errorStrategy = 'retry'
  maxRetries = 4
  
  withLabel: with_1gpu {
    containerOptions = { workflow.containerEngine == "singularity" ? '--nv':
    ( workflow.containerEngine == "docker" ? '--gpus all': null ) }
    clusterOptions = '--gres=gpu:1'
    process.queue = 'gpu'
    maxForks = 4
  }

}


executor {
  queueSize = 30
  submitRateLimit = '1 sec'
}
